<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<head th:replace="~{/fragments/header}" >
	<title>Dashboard</title>
	<link href="https://code.fancygrid.com/fancy.min.css" rel="stylesheet">
	<script src="https://code.fancygrid.com/fancy.min.js"></script>
</head>
<body>
<link type="text/css" href="css/landingpage.css" rel="stylesheet" />

<h1>Dashboard of your projects</h1>
<!--  <script async src="//jsfiddle.net/o7f1spLb/7/embed/result/"></script>-->

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>ProjectName</th>
      <th>Analysis Type</th>
      <th>Status</th>
      <th>Created on</th>
      <th>Completation</th>
      <th>Last Analysis</th>
      <th>Run Analysis</th>
    </tr>
  </thead>
  <tbody>
  

	<tr th:each="project : ${projects}">
      <th scope="row"></th>
      <td><p th:text="${project.projectName}"></p></td>
      <td><p>  </p></td>
      <td><p>Scheduled</p></td>
      <td><p  th:text=    "${project.creationTime}"></p></td>
      <td><p  th:text= "|0 /   ${project.totalCommits}|"></p></td>
      <td></td>
      <td>
      <form th:action="@{/runAnalysis}" th:object="${projectToSend}" method="POST">
      <input type="hidden" id="projectName"  name="projectName" th:value="${project.projectName}"/>
      <input type="submit"   class="btn btn-secondary"   value="Run Analysis Now">   
      </form>
      </td>
    </tr>		
	</c:forEach>
  </tbody>
</table>


</body>
</html>