<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title>Manual Commit Insertion</title>
<head lang="en" th:include="fragments/header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link type="text/css" href="css/newproject.css" rel="stylesheet" />

</head> 
<body>
<link type="text/css" href="css/newproject.css" rel="stylesheet" />
	<div class="panel panel-primary" style="margin: 20px;">
		<div class="panel-heading">
			<h3 class="panel-title">Please insert the shas of the commits to analyse</h3>
		</div>
		<div class="panel-body">		
			<form th:action="@{/runManualCommitAnalysis}" th:object="${project2}" method="post">
				<div class="col-md-12 col-sm-12">
					<div class="form-group col-md-12 col-sm-12">
					     <h1><p th:text="${project.projectName}"></p></h1>
			 			<input type="hidden" id="projectName" name="projectName"
							th:value="${project.projectName}" />
					</div>
						
					<div>
						<textarea class="form-control" rows="12" 
						    style="margin-top: 10px;"  placeholder="Please enter the commit shas (One SHA per line)"
						    id="manualCommitSSH"  name="Manual CommitSSHe" th:field="${project.manualCommitSSH}" >	
						</textarea>
						
				
					
				</div>	
							<br></br><br>
							<div  class="form-group col-md-12 col-sm-12 desc" id="analysisType3">
							

						<input type="submit" value="Analyse commits">
				
						</div>
			</form>
</body>


    	





</html>
