<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<style>
body{
    background: #282828;
	background-color: #444;
    background: #282828;
}

.vertical-offset-100{
    padding-top:100px;
}

img  {
	margin-top: 50px;
	margin-bottom: 25px;
	margin-left: 25%;
    width: 50%; /* you can use % */
    height: auto;
    align: middle;
}


</style>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>



<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form th:action="@{/login}" th:object="${user}" method="post" name="form" id="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" th:field="*{email1}" type="text" id=email>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control"  th:field="*{pwd}" id="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
				<br>
					<!-- Sign up button -->
			    	<form th:action="@{/signUp}" th:object="${user}" method="get">
                    <fieldset>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="SignUp">
			    	</fieldset>
			      	</form>
			      				      	
			    </div>
			</div>
		</div>
		<img src="https://image.ibb.co/mm9dPa/smellsgood_logo.png"/>
	</div>
	
</div>

<script>
$(document).ready(function(){
  $(document).mousemove(function(e){
     TweenLite.to($('body'), 
        .5, 
        { css: 
            {
                backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
            }
        });
  });



});

	
	
	$( "#form" ).submit(function( event ) {
		  var form = $( "#myform" );
		  alert( "Handler for .submit() called." + form.valid() );
		  alert( "Valid: " + form.valid() );
		});


		  // Initialize form validation on the registration form.
		  // It has the name attribute "registration"
		  $("form[name='form']").validate({
		    // Specify validation rules
		    rules: {
		      // The key name on the left side is the name attribute
		      // of an input field. Validation rules are defined
		      // on the right side

		      email: {
		        required: true,
		        // Specify that email should be validated
		        // by the built-in "email" rule
		        email: true
		      },
		      password: {
		        required: true,
		        minlength: 5
		      }
		    },
		    // Specify validation error messages
		    messages: {
		      password: {
		        required: "Please provide a password",
		        minlength: "Your password must be at least 5 characters long"
		      },
		      email: "Please enter a valid email address"
		    },
		    // Make sure the form is submitted to the destination defined
		    // in the "action" attribute of the form when valid
		    submitHandler: function(form) {
		      form.submit();
		    }
		  });
		
	



</script>
</html>
